<link href="{{ url_for('static', filename='css/logincsscode1.css') }}" rel="stylesheet" id="bootstrap-css">
<script src="{{ url_for('static', filename='js/loginjscode1.js') }}"></script>
<script src="{{ url_for('static', filename='js/loginjscode2.js') }}"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Insert to Database</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/logincsscode2.css')}}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkF	OJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/logincsscode3.css') }}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/insert_db.css') }}">
	<style type="text/css">
		
	html,body{
	background-color:#416983;
	font-family: 'Numans', sans-serif;
		}
	</style>
</head>
<body>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Insert to Database</h3>
				<div class="d-flex justify-content-end social_icon">
					<!-- <span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span> -->
				</div>
			</div>
			<div class="card-body">
				<form action = "http://localhost:5000/insert_db" method = "POST">
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input name="VoterID" type="text" class="form-control" placeholder="VoterID" >
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input name="password" type="password" class="form-control" placeholder="password" >

					</div>
					<div class="row align-items-center remember">
						{{msg}}
					</div>
					<div class="form-group">
						<input name="action" type="submit" value="Insert" class="btn float-right login_btn" >
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>